<h2>List of all events:</h1>


<h2>Upcoming events:</h2>
<% @events_future.each do |event| %>
<ul>
<li>Host: <%= event.creator.username%></li>
<li>Location: <%= event.location%></li>
<li>Date: <%= event.date%> </li>
<li><%= link_to 'Click to view event', "events/#{event.id}/"%></li>
</ul>

<% end %>

<h2>Past events:</h2>
<% @events_past.each do |event| %>
<ul>
<li>Host: <%= event.creator.username%></li>
<li>Location: <%= event.location%></li>
<li>Date: <%= event.date%> </li>
<li><%= link_to 'Click to view event', "events/#{event.id}/"%></li>
</ul>

<% end %>