<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

  <h3><%= @event.name %></h3>
<ul>
  <% user = User.find(@event.creator_id)%>
  <% username = user.username%>
<li>Host name: <%= User.find(@event.creator_id).username%> </li>
<li>Location: <%= @event.location%>  </li>
<li>Date <%= @event.date%> </li>
<li>Description <%= @event.description%> </li>
  <% if user_signed_in?%>
<li><%= link_to 'Click to participate', attendances_new_path(event_id: @event.id, user_id: current_user.id)%></li>
  <%else %>
  <%= "Sign in to participate in event!"%>
  <%end%>
</ul>

<h2>List of attendees</h2>
    <%@event.attendees.each do|attendee|%>
  <ul>
    <li> <%=link_to attendee.username, "/users/#{attendee.id}"%> </li>
  </ul>
  <% end %>
